mixin topic-card(type, topic, image)
  .main__card
    .main__card-img
      img.main__card-picture(src=image, alt="Изображения")
    .main__card-type= type
    .main__card-topic= topic 
    .main__card-user
      span.main__card-author Niek Bove 
      span.main__card-date April 8, 2018 
      span.main__card-views 3K Views 
    .main__card-description Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport detail. Warmth comfort hangs loosely from the body large pocket at the front full button...

<main>
  .main 
    +topic-card("Lifestyle", "Right For Your Exercise Regime", "../media/png/1.png")
    +topic-card("Lifestyle", "The Look: Perfect Balance", "../media/png/2.png")
    +topic-card("Style", "Fun Things to Do in Rome", "../media/png/3.png")
    +topic-card("Business", "Wall Street Сrash", "../media/png/4.png")
    +topic-card("Lifestyle", "Life is Short, and It is Here to Be Lived", "../media/png/5.png")
    +topic-card("Style", "Muddying the Waters", "../media/png/6.png")
    +topic-card("Lifestyle", "Want to Raise Successful Daughters?", "../media/png/7.png")
    +topic-card("Criminal", "Why Big Tobacco Can’t Be Killed", "../media/png/8.png")
    +topic-card("Criminal", "How They Got Dillinger!", "../media/png/9.png")
    